body{
    background-color: #CFC2B7;
    font-family: 'Montserrat', sans-serif;

}

header{
    display: flex;
    justify-content: space-between;
}
.topnavbar{
    text-align: center;
    overflow: hidden;
}

ul{
    list-style-type: none;
    float: right;
    display: inline-flex;
}

#font{
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: left; 
}
h1 {

    text-align: center;
    color: #22223B;
    font-family: 'Montserrat', sans-serif;
}
h2 {
    text-align: center;
}

.backpic {
    display: block;
    opacity: 0.35;
}

button {
    background-color: #58624b;
    font-family: 'IBM Plex Sans', sans-serif;
    width: fit-content;
    height: fit-content;
    border: 1px;
    line-height: 2.5;
    padding: 0 20px;
    margin: 10px 5px;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

a {
    color: white;
}


footer{
    text-align: center;
   
}