body{
    background-color: #F2E9DB;
    font-family: 'IBM Plex Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    color: #22223B;
}

header{
    display: grid;
    grid-template-columns: 2fr 5fr;
    position:fixed;
    background: #F2E9DB;
    width: 100%;
}

main{
    margin-top: 80px;
}

.topnavbar{
    text-align: center;
    overflow: hidden;
}

.navList{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.navList li{
    background-color:#58624B;
    border-radius: 0.6em;
    padding: 0.6em;  
    color: white;

}

header a{
    color: white;
    text-decoration: none;
}

#font{
    text-align: left; 
}


.backpic{
    padding: 100px 20px;
    text-align: center;
    border-radius: 20%;
}
.backpic img{
    border-radius: 10%;
}
.backpic2{
    margin-bottom: 60px;

}

.backpic3{
    margin-bottom: 30px;

}

.backpic4{
    margin-bottom: 80px;
}


footer{
    text-align: center;
    margin-top: auto;
}

/* menu page */

.menuPage{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 50px 1fr ;
   
}

.menuNavBar{
    grid-column: 1/2;
    grid-row: 1/3;
    margin-left: 20px;
    position: fixed;
}

.menuNavBar h3 a{
    text-decoration: none;
    color: #58624B;
}

.menuTitile{
    text-align: left;
    font-size: 50px;
    margin-top: 20px;
}


.menuItem{
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 2/3;
    grid-row: 2/3;
}


.menuItem h2{
    padding-top: 100px;
    margin-bottom: 0px;
    text-align: center;
}


.itemType{
    display: flex;
    list-style-type: none;
    text-align: center;
    padding: 0px;
    flex-wrap: wrap;
}

.itemType li {
    flex: 1 0 calc(33.33% - 10px);
}


.ingredientInfo{
    list-style-type: none;
    padding: 0;
    text-align: center;
}






