{% extends "base.html" %} 

{% block title %}About{% endblock %}

{% block content %}
<main class="aboutPage">
  <section>
    <h1>Our Story</h1>
    <p>&#9728  Each person is individually unique. Taste buds and preferences. 
      After a long day, you all want to treat yourself to a refreshing drink. You will take control of your drink in your beverage customization process, 
      allowing you to leave the store satisfied instead of empty-handed due to a lack of choices.</p>
    
    <p>&#9728  At ReaTea, you will no longer need to worry about not being able to choose a drink 
      since you will make the decision of what ingredients you want in your beverage 
      because you know what you need and like.</p>
  </section>


  <h1 class="teamTitle">Our Team</h1>
  <section class="ourteamContent">

      <p></p>
      <p>Founder of REATEA which was inspired by many companies that gives you to freedom to make any drink their drink using high quality products </p>
      <p></p>
      <p>He reports to the CFO and has strong time-management skills, ability to prioritize tasks, and excellent communication skills to keep the company on track.</p>
      <p></p>

      <img
            src="{{ url_for('static', filename='image/aboutPage/personImage.png') }}"
            alt="person image"
            width="80"
            height="80"
        />
      <h3>Carmen Su</h3>
      <img
            src="{{ url_for('static', filename='image/aboutPage/personImage.png') }}"
            alt="person image"
            width="80"
            height="80"
        />
      <h3>Daniel Khavin</h3>
      <img
            src="{{ url_for('static', filename='image/aboutPage/personImage.png') }}"
            alt="person image"
            width="80"
            height="80"
        />

   
    
      <h2>Executive Director</h2>
      <h2>Chief Executive Officer</h2>
      <h2>Chief Financial Officer</h2>
      <h2>Operations Manager</h2>
      <h2 class="lastPosition">Treasurer</h2>

      <h3>Marco Poon</h3>
      <img
            src="{{ url_for('static', filename='image/aboutPage/personImage.png') }}"
            alt="person image"
            width="80"
            height="80"
        />
      <h3>Katy Chan</h3>
      <img
            src="{{ url_for('static', filename='image/aboutPage/personImage.png') }}"
            alt="person image"
            width="80"
            height="80"
        />
      <h3>Arman Pannu</h3>

      <p>Reports to the CFO. Experienced in many fields like marketing, governance, business development, operations management, and special events. </p>
      <p></p>
      <p>The CFO reports to the CEO. Manages the financial actions of the company. Keeps track of cash flow, analyzes strengths and weaknesses in the company's finances.</p>
      <p></p>
      <p>Reports to the Operations Manager. Monitors and reviews the organization's financial policies and reporting.</p>

  </section>
</main>
{% endblock %}
