{% extends "base.html" %} 

{% block title %}About{% endblock %}

{% block content %}
<main>
  <section>
    <h1>OUR STORY</h1>
    <p>Each person is individually unique. Taste buds and preferences. 
      After a long day, you all want to treat yourself to a refreshing drink.</p>
    <p>You will take control of your drink in your beverage customization process, 
      allowing you to leave the store satisfied instead of empty-handed due to a lack of choices.</p>
    <p>At ReaTea, you will no longer need to worry about not being able to choose a drink 
      since you will make the decision of what ingredients you want in your beverage 
      because you know what you need and like.</p>
  </section>


  <h1>OUR TEAM</h1>
  <section class="ourteamContent">
    
   
      <img
            src="{{ url_for('static', filename='image/aboutPage/personImage.png') }}"
            alt="person image"
            width="50"
            height="50"
        />
      <h3>aaa</h3>
      <img
            src="{{ url_for('static', filename='image/aboutPage/personImage.png') }}"
            alt="person image"
            width="50"
            height="50"
        />
      <h3>aaa</h3>
      <img
            src="{{ url_for('static', filename='image/aboutPage/personImage.png') }}"
            alt="person image"
            width="50"
            height="50"
        />

   
    
      <h2>A</h2>
      <h2>A</h2>
      <h2>A</h2>
      <h2>A</h2>
      <h2 class="lastPosition">A</h2>

      <h3>aaa</h3>
      <img
            src="{{ url_for('static', filename='image/aboutPage/personImage.png') }}"
            alt="person image"
            width="50"
            height="50"
        />
      <h3>aaa</h3>
      <img
            src="{{ url_for('static', filename='image/aboutPage/personImage.png') }}"
            alt="person image"
            width="50"
            height="50"
        />
        <h3>aaa</h3>

    
  </section>
</main>
{% endblock %}
