<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
    <link
      href="{{ url_for('static', filename='css/stylesheet.css') }}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap"
      rel="stylesheet"
    />

    <!-- test -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="navList">
        <a href="about" title="about"> ABOUT US </a>
        <a href="instructions"> INSTRUCTIONS </a>
      </div>

      <div class="logoButton">
        <a href="home" title="home">
          <img
            class="logo"
            src="{{ url_for('static', filename='image/homePage/logo.png') }}"
            alt="logo"
            width="50"
            height="50"
        /></a>
        <a class="ourName" href="home" title="home">  ReaTea </a>
      </div>

      <div class="navList">
        <a href="menu"> MENU </a></li>
        <a href="customize"> CUSTOMIZE </a>
        <a href="order"> temp_order </a>
      </div>

      <div class="acctCartButton">
      
      <a  class="cartIcon" href="cart">
        <img
          src="{{ url_for('static', filename='image/cartPage/cartImage.png') }}"
          alt="cart image"
          width="50"
          height="50"
      /></a>
      <a class="accountButton" href="login"> LOGIN/SIGN UP </a>
    </div>
    </header>











    {% block content %} {% endblock %}
    <footer>
      <h3>Follow Up</h3>
      <div>
        <img
          src="{{ url_for('static', filename='image/followUP/fbLogo.png') }}"
          alt="fbLogo"
          width="40"
          height="40"
        />
        <img
          src="{{ url_for('static', filename='image/followUP/instagramLogo.png') }}"
          alt="instagramLogo"
          width="40"
          height="40"
        />
        <img
          src="{{ url_for('static', filename='image/followUP/twitterLogo.png') }}"
          alt="twitterLogo"
          width="40"
          height="40"
        />
      </div>
    </footer>
  </body>
</html>
