{% extends "base.html" %}
{% block content %}
<main>
    <h1 class="cartTitle">Cart</h1>
    <div class="cartPageLU">
    <section>
        <table class="cartTable">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order["item"] }}</td>
                    <td>{{ order["quantity"] }}</td>
                    <td>xxx</td>
                    <td>xxx</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section class="sumArea">
        <h3>Total price:</h3>
        <p class="sumPrice">"ie. $ 100 CAD"</p>
        <div class="cartButton">
            <a class = "checkoutLink" href="checkout">Ready to Checkout!</a>
            <a class = "backMenuLink" href="/">Back to menu</a>
        </div>
    </section>
    </div>
   
</main>
{% endblock %}
