{% extends "base.html" %}
{% block content %}
<main>
    <h1>Cart</h1>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            {% for product_order in order.products %}
            <tr>
                <td>{{ product_order.product.name }}</td>
                <td>{{ product_order.quantity }}</td>
                <td>{{ product_order.product.price }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Back to menu</a>
</main>
{% endblock %}
