{% extends "base.html" %} 

{% block title %}Customize{% endblock %}

{% block content %}
<main>
    <div class="customizePage">
        <section class="customizeNavBar">
            <h1>Let's Start!</h1>
          
            <h3>| Step 1: Choose a Tea Base</h3>
            <p> Our options include black tea, green tea, and oolong tea. Consider the flavor and caffeine level of each tea before making your selection.</p>
            <p> Black Tea (Red Tea): Black Tea, also known as Red Tea in Chinese. If you're trying to go for a stronger and rich taste in your drink this would be recommended. Having a stronger flavor in the tea means that it has been oxidized for a longer time compared to Green Tea and Oolong Tea. Stronger in caffeine.</p>
            <p> Green Tea: If you're trying to go for a drink that is not very strong this would be a good choice. Green Tea does not go through the process of oxidizing since it. Usually lower in caffeine compared to Black Tea </p>
            <p> Oolong Tea (Black Dragon): Oolong Tea, also known as Black Dragon in Chinese, is neither green tea or black tea. It is partially oxidized. The flavors of this tea type vary from floral to grassy, and sweet to toasty. Caffeine content would vary depending on how oxidized they are.</p>
            
            <h3>| Step 2: Choose a Dairy Option</h3>
            <p> There are alternatives available if you have dairy restrictions. Most bubble tea shops use powdered milk for most drinks, so if you use whole milk it may not taste the same.</p>

            <h3>| Step 3: Choose Toppings</h3>
            <p> Many toppings to add to your drink. For only tea drinks, we recommend adding coconut jelly and popping boba. For milk + tea drinks, we recommend pudding, grass jelly, tapioca pearls, and mochi. This really depends on your taste! </p>
            
            <h3>| Step 4: Choose a Sweetener/Syrup Option</h3>
            <p> There are different sweeteners/syrups that we offer. Please be aware that sugar free sweetener may not taste the same as regular sweetener. </p>

            <h3>| Step 5: Choose your sugar level</h3>
            <p> Choose the level of sweetness you prefer. There are five options such as "light sugar"(25%), "half sugar"(50%), "less sugar"(75%), and "regular sugar"(100%). Calories will change depending on your sugar levels. </p>
        
        </section>

        <section class="customizeItem">
            <h2>Step 1</h2>
            <!-- code for display database data: Tea -->

        </section>
    </div>

</main>
{% endblock %}
