{% extends "base.html" %} 

{% block title %}Customize{% endblock %}

{% block content %}
<main>
    <div class="customizePage">
  
            <!-- 
            <p> Our options include black tea, green tea, and oolong tea. Consider the flavor and caffeine level of each tea before making your selection.</p>
            <p> Black Tea (Red Tea): Black Tea, also known as Red Tea in Chinese. If you're trying to go for a stronger and rich taste in your drink this would be recommended. Having a stronger flavor in the tea means that it has been oxidized for a longer time compared to Green Tea and Oolong Tea. Stronger in caffeine.</p>
            <p> Green Tea: If you're trying to go for a drink that is not very strong this would be a good choice. Green Tea does not go through the process of oxidizing since it. Usually lower in caffeine compared to Black Tea </p>
            <p> Oolong Tea (Black Dragon): Oolong Tea, also known as Black Dragon in Chinese, is neither green tea or black tea. It is partially oxidized. The flavors of this tea type vary from floral to grassy, and sweet to toasty. Caffeine content would vary depending on how oxidized they are.</p>
             -->
     
            <!-- <p> There are alternatives available if you have dairy restrictions. Most bubble tea shops use powdered milk for most drinks, so if you use whole milk it may not taste the same.</p> -->

       
            <!-- <p> Many toppings to add to your drink. For only tea drinks, we recommend adding coconut jelly and popping boba. For milk + tea drinks, we recommend pudding, grass jelly, tapioca pearls, and mochi. This really depends on your taste! </p> -->
            
       
            <!-- <p> There are different sweeteners/syrups that we offer. Picking the "no sugar" option will mean that we will not be adding additional sweeteners to you drink. Please be aware that sugar free sweetener may not taste the same as regular sweetener. </p> -->

        
            <!-- <p> Choose the level of sweetness you prefer. There are five options such as "light sugar"(25%), "half sugar"(50%), "less sugar"(75%), and "regular sugar"(100%). Calories will change depending on your sugar levels. </p> -->
            
          
            <!-- <p> Choose the ice level to your preference. There are three options for ice level such as "no ice", "less ice", and "regular ice". </p> -->
      

        <section class="customizeNavBar">

            <h1 class="stepTitile">Let's Start !</h1>
            {% for category in categories %}
            <h3><a href="#{{ category }}">Choose your {{ category|capitalize }}</a></h3>
            {% endfor %}
        </section>

        

        <section class="customizeItem">




            <p>Enjoy your time!</p>
            {% for category in categories %}
            <h2 id="{{ category }}">{{ category|capitalize }}</h2>
            <ul class="itemType">
              {% for product in products[category] %}
              <li>
                <img 
                  src="{{ url_for('static', filename='image/menuPage/' + product.name + '.png') }}"
                  alt="{{ product.name }} images"
                  width="200"
                  height="230"
                  onerror="this.onerror=null;this.src='{{ url_for('static', filename='image/customize1Page/placeholder.png') }}';"
                />
                <h3 id="{{ product }}">{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <div class="quantity">
                    <button class="selectButton" type="button" onclick="selectItem('{{ product.name }}')">Select</button>                
                </div>
              </li>
              {% endfor %}
            </ul>
            {% endfor %}
            <button onclick="createDrink()">Create Drink</button>
        </section>
        

    </div>

</main>

<script>

    var selectedItems = {};

    function selectItem(itemName) {
        if (!(itemName in selectedItems)) {
            selectedItems[itemName] = 1;
            alert("Item added to selection!");
        }
    }



    function createDrink() {
    const item = Object.keys(selectedItems).join(", ");
    
    const customize = {
        item: item
    };

    fetch("/customize", {
        method: "POST",
        headers: {
        "Content-Type": "application/json"
        },
        body: JSON.stringify(customize)
    })
        .then(response => response.json())
        .then(result => {
        console.log(result);
        alert("Item added to Menu!");
        
        // Reset the selection
        selectedItems = {};
        
        // Clear the selection display (assuming you have an element with the id "selection-display")
        document.getElementById("selection-display").textContent = "";
        })
        .catch(error => {
        console.error("Error:", error);
        });
    }


    

</script>
{% endblock %}
