{% extends "base.html" %} 

{% block title %}Customize{% endblock %}

{% block content %}
<main>
    <div class="customizePage">
        <section class="customizeNavBar">
            <h1>Let's Start !</h1>
          
            <h3>| Step 1: Choose a Tea Base</h3>
            <h3>| Step 2: Choose a Dairy Option</h3>
            <h3>| Step 3: Choose Toppings</h3>
            <h3>| Step 4: Choose a Syrup Option</h3>
 
        </section>

        <section class="customizeItem">
            <h2>Step 1</h2>
            <!-- code for display database data: Tea -->

        </section>
    </div>

</main>
{% endblock %}
