{% extends "base.html" %} {% block title %}Feedback{% endblock %} {% block
content %}
<main class="feedbackPage">
    <h1>Any thoughts? Help us to improve.</h1>
    <form id="feedback-form" onsubmit="return submitFeedback(event)">
        <textarea
            id="feedback-textarea"
            name="note"
            rows="10"
            cols="125"
            placeholder="Type your thought here..."
        ></textarea>
        <div>
            <button class="saveb" type="submit">Submit</button>
            <button class="cancelb" type="button">Cancel</button>
        </div>
    </form>
</main>

<script>
    async function submitFeedback(event) {
        event.preventDefault();
        const message = document.querySelector("textarea[name='note']").value;

        if (!message.trim()) {
            alert("Please enter a message.");
            return;
        }

        const feedback = {
            message: message,
        };

        try {
            const response = await fetch("/feedback", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(feedback),
            });
            console.log("Feedback submitted successfully!");
            alert("Thank you for your feedback!");
        } catch (error) {
            console.error("Error saving feedback:", error);
        }
    }
</script>
{% endblock %}
