{% extends "base.html" %} {% block content %}
<main>
  <section>
    <h1 class="homeSlogan">REATEA FOR YOU</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>

    <div class="backpic">
      <img
        class="backpic1"
        src="{{ url_for('static', filename='image/homePage/teabackground.jpg') }}"
        alt="tea leaves images"
        width="400"
        height="300"
      />
      <img
        class="backpic2"
        src="{{ url_for('static', filename='image/homePage/bubbleTeaIngredient.jpg') }}"
        alt="bubble tea ingredient images"
        width="400"
        height="300"
      />
      <img
        class="backpic3"
        src="{{ url_for('static', filename='image/homePage/bubbleTeaOnHand.jpg') }}"
        alt="bubble tea on hand images"
        width="400"
        height="300"
      />
      <img
        class="backpic4"
        src="{{ url_for('static', filename='image/homePage/twoBubbleTea.jpg') }}"
        alt="two bubble tea images"
        width="400"
        height="300"
      />
    </div>
  </section>
</main>
{% endblock %}
