<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReaTea</title>
    <link href="../css/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="topnavbar">
            <ul>
                <li>
                    <button class= "about" type="button"> 
                        <a href="about.html" title="about"> ABOUT US </a>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <a href="instructions.html"> INSTRUCTIONS </a>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <a href="menu.html"> MENU </a>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <a href="customize.html"> CUSTOMIZE </a>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <a href="home.html"> HOME </a>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <a href="loginsignup.html"> LOGIN/SIGN UP </a>
                    </button>
                </li>
            </ul>
        </nav>
        </header>
        <section> 
            <div>
                <h1 id="font">REATEA FOR YOU</h1>
                <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
                <img class="backpic" src="../images/homepage/teabackground.jpg" alt="tea leaves images">
                </div>
            </div>
        </section>
        <footer>
            <h3>Follow Up</h3>
            
        </footer>
</body>
</html>