<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu</title>
</head>
<body>
    <h1>Menu</h1>
    {% for section, items in menu.items() %}
        <h2>{{ section|capitalize }}</h2>
        <ul>
        {% for item in items %}
            <li>
                <h3>{{ item["name"] }}</h3>
                <p>{{ item["description"] }}</p>
                <p>Price: {{ item["price"] }}</p>
                {% if "ingredients" in item %}
                    <ul>
                    {% for ingredient in item["ingredients"] %}
                        <li>{{ ingredient["name"] }}: {{ ingredient["amount"] }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
