{% extends "base.html" %} 

{% block title %}Instructions{% endblock %}

{% block content %}

<main class="instructionPage">

    <h1>How to make your own bubble tea?</h1>

    <div>
        <section>
            
            <div>
                <h2>1</h2>
                <img
                class="backpic1"
                src="{{ url_for('static', filename='image/instructionPage/teaBase.png') }}"
                alt="tea base images"
   
            />
            <p>Choose a tea base. Consider the flavor and caffeine level of each tea before making your selection.</p>

            </div>
        </section>

        <section>
            
            <div>
                <h2>2</h2>
                <img
                class="backpic1"
                src="{{ url_for('static', filename='image/instructionPage/milkOption.png') }}"
                alt="milk images"

            />
            <p>Choose a dairy option. You can add a dairy option you want to your drink.</p>
            </div>
        </section>

        <section>
            
            <div>
            <h2>3</h2>
            <img
                class="backpic1"
                src="{{ url_for('static', filename='image/instructionPage/toppingOption.png') }}"
                alt="toppings images"
      
            />
            <p>Choose your toppings. Go and check out our various options!</p>
            </div>

        </section>

        <section>
        

            <div>
            <h2>4</h2>
            <img
                class="backpic1"
                src="{{ url_for('static', filename='image/instructionPage/sugarOption.png') }}"
                alt="sugar images"
   
            />
            <p>Choose your sweetener and your sugar level. There are several options for you to select from.</p>
            </div>

        </section>

        <section>
            
            <div>
            
            <h2>5</h2>
            <img
                class="backpic1"
                src="{{ url_for('static', filename='image/instructionPage/iceOption.png') }}"
                alt="ice images"
    
            />
            <p>Choose the ice level to your preference. There are three options for ice level for you to decide. </p>
            </div>
        </section>
    </div>


</main>
{% endblock %}
