<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Make Your Own Drink</title>
    <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="home">
            <img class="logo" src="{{ url_for('static', filename='image/logo.png') }}" alt="logo" width="120" height="70"></a>
            <nav class="topnavbar">
                <ul class="navList">
                    <li><a href="about" title="about"> ABOUT US </a></li>
                    <li><a href="instructions"> INSTRUCTIONS </a></li>
                    <li><a href="menu"> MENU </a></li>
                    <li><a href="customize"> CUSTOMIZE </a></li>
                    <li><a href="loginsignup"> LOGIN/SIGN UP </a></li>
                </ul>
            </nav>
    </header>
        <section class="Steps">
            <h2>Make your Bubble Tea</h2>

            <img class="Tea" src="../static/image/InstructionPage/Tea type.jpg" alt="TeaTypeSnap" width="50px" height="50px">

            <!-- <h4>Step 1:Choose a Tea base</h4> -->
            <p><b> Step 1:Choose a Tea base </b> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptates aliquam provident veritatis consequuntur debitis nobis possimus adipisci optio! Necessitatibus similique adipisci ab placeat fuga laborum repellat earum, est quasi?</p>

            <img class="Milk" src="../static/image/InstructionPage/Milk Type.jpg" alt="MilkSnap">

            <!-- <h4></h4> -->
            <p><b> Step 2:Choose a Milk Base</b> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptates aliquam provident veritatis consequuntur debitis nobis possimus adipisci optio! Necessitatibus similique adipisci ab placeat fuga laborum repellat earum, est quasi?</p>

            <img class="Syrup" src="../static/image/InstructionPage/Syrups.jpg" alt="SyrupSnap">

            <!-- <h4></h4> -->
            <p><b> Step 3:Choose a Syrup </b> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptates aliquam provident veritatis consequuntur debitis nobis possimus adipisci optio! Necessitatibus similique adipisci ab placeat fuga laborum repellat earum, est quasi?</p>

            <img class="topping" src="../static/image/InstructionPage/toppings.jpg" alt="ToppingSnap">

            <!-- <h4>Step 4:Choose Toppings</h4> -->
            <p><b> Step 4:Choose Toppings</b> <br> ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptates aliquam provident veritatis consequuntur debitis nobis possimus adipisci optio! Necessitatibus similique adipisci ab placeat fuga laborum repellat earum, est quasi?</p>

        </section>
 
        <footer>
            <h3>Follow Up</h3>
            
        </footer>
</body>
</html>
