{% extends "base.html" %} 

{% block title %}Menu{% endblock %}

{% block content %}
<main>
  <div class="menuPage">
    <section class="menuNavBar">
      <h1 class="menuTitile">Menu</h1>
      {% for category in categories %}
      <h3><a href="#{{ category }}">| {{ category|capitalize }}</a></h3>
      {% endfor %}
    </section>
    <section class="menuItem">
      <p>Enjoy your time!</p>
      {% for category in categories %}
      <h2 id="{{ category }}">{{ category|capitalize }}</h2>
      <ul class="itemType">
        {% for product in products[category] %}
        <li>
          <img 
            src="{{ url_for('static', filename='image/menuPage/' + product.name + '.png') }}"
            alt="{{ product.name }} images"
            width="200"
            height="230"
            onerror="this.onerror=null;this.src='{{ url_for('static', filename='image/menuPage/placeholder.png') }}';"
          />
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
          <p>Price: {{ product.price }}</p>
          <div class="quantity">
            <button class="removeButton" type="button" onclick="subtractOne(this)">-</button>
            <input class="count" type="number" value="0" readonly>
            <button class="addButton" type="button" onclick="addOne(this)">+</button>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
      <button class="orderButton" type="button" onclick="submitOrder()">Order</button>
    </section>
  </div>
</main>

<script>
  function subtractOne(button) {
    var input = button.nextElementSibling;
    var value = parseInt(input.value);
    if (value > 1) {
      input.value = value - 1;
    }
  }

  function addOne(button) {
    var input = button.previousElementSibling;
    var value = parseInt(input.value);
    input.value = value + 1;
  }

  function getOrderSummary() {
    var orderSummary = {};
    var items = document.getElementsByClassName('itemType')[0].getElementsByTagName('li');
    for (var i = 0; i < items.length; i++) {
      var itemName = items[i].getElementsByTagName('h3')[0].textContent;
      var itemCount = parseInt(items[i].getElementsByClassName('count')[0].value);
      orderSummary[itemName] = itemCount;
    }
    return JSON.stringify(orderSummary);
  }

  async function submitOrder() {
        const order_summary = getOrderSummary();

        try {
            const response = await fetch("/order", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(order_summary),
            });
            alert("Thank you for your ordering!");
        } catch (error) {
            console.error("Error ordering:", error);
        }
    }

</script>
{% endblock %}
