{% extends "base.html" %} 
{% block content %}
<main>
  <div class="menuPage">
    <section class="menuNavBar">
      <h1 class="menuTitile">Menu</h1>
      {% for category in categories %}
      <h3><a href="#{{ category }}">| {{ category|capitalize }}</a></h3>
      {% endfor %}
    </section>
    <section class="menuItem">
      <p>Enjoy your time!</p>
      {% for category in categories %}
      <h2 id="{{ category }}">{{ category|capitalize }}</h2>
      <ul class="itemType">
        {% for product in products[category] %}
        <li>
          <img 
            src="{{ url_for('static', filename='image/menuPage/' + product.name + '.png') }}"
            alt="{{ product.name }} images"
            width="200"
            height="250"             
          />
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
          <p>Price: {{ product.price }}</p>
          <div class="quantity">
            <button class="removeButton" type="button">-</button>
            <input class="count" type="number" value="1">
            <button class="addButton" type="button">+</button>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </section>
  </div>
</main>
{% endblock %}
